In [2]:
from minobr.people import PeopleOccupation
from minobr.university.faculty import Faculty, FacultyTypes, FacultyManagement
from minobr.university.group import Group, Student
from minobr.university.staff import StaffType, Teacher
from minobr.university.semestr import Semester
from minobr.university.topics import Topic
from minobr.university.university import University

# Lets create test university

#### Create university. Two faculties. Three groups

In [3]:
u1 = University()
f1 = Faculty('Test Tech Faculty', FacultyTypes.tech)
f2 = Faculty('Test Tech Faculty 2', FacultyTypes.hum)
g1 = Group('Test group1')
g2 = Group('Test group2')
g3 = Group('Test group3')

#### Append all objects

In [4]:
f1.add_group(g1)
f2.add_group(g2)
f2.add_group(g3)
u1.add(f1)
u1.add(f2)

#### Add any students to groups

In [5]:
for i in range(1000):
    if i < 500:
        g = g1
    elif 500 < i < 800:
        g = g2
    else:
        g = g3
    p = Student(f1, g, name='test_'+unicode(i))
    p.add_employment(PeopleOccupation.student, '1st grade')
    g.add(p)

#### Lets see what we have

In [6]:
u1.list()
print '\n'.join([unicode(f)+' '+unicode(g) for f,g in [(f,f.groups) for f in u1.list()]])

<Faculty humanitarian> Test Tech Faculty 2 [<Group Test group2> population: 299, <Group Test group3> population: 201]
<Faculty technical> Test Tech Faculty [<Group Test group1> population: 500]

#### Add staff to faculty

In [7]:
f1.staff()[StaffType.teachers].list()

[]

In [8]:
t1 = Teacher(name='Sam', last_name='Osbourne', knowledge_area='math')
dean = Teacher(name='Dean', last_name='Osbourne', knowledge_area='manager')
f1.hire(StaffType.management, dean, 'dean') #  hack, head manager should set manualy
print t1, dean

<Teacher> Sam <Teacher> Dean

In [9]:
f_mngr = FacultyManagement(f1)
f_mngr.set_manager(dean)
f_mngr.hire(StaffType.teachers, t1, position='math_teacher')

In [10]:
f1.staff()[StaffType.teachers].list()

[<Teacher> Sam]

In [11]:
semester = Semester(course=1, number=1, faculty=f1); print s

NameError: name 's' is not defined

In [12]:
f1.add_semester(semester); f1.semesters

In [13]:
TOPICS = [
    {'math': ['algebra', 'mathan', 'geometry']},
    {'lang': ['Russian', 'English']},
]
s_topics = [Topic(t_name, t1) for t_name in TOPICS[0]['math']]
for topic in s_topics:
    semester.add_topic(topic)

In [14]:
#### Create students and enroll to topic

In [18]:
student1 = Student(faculty=f1, group=g1, name='Lian')
g1.add(student1)
semester.enroll(student1, s_topics[:len(s_topics)/2]); print semester.enrollments

set([<minobr.university.semestr.Enrollment object at 0x7fd0e831a890>, <minobr.university.semestr.Enrollment object at 0x7fd0e831aed0>])